
<div>
  <div class="buttons-container">

    <!-- New Community Button -->
    <%= link_to "Create Community", new_community_path if policy(Community).new? %>

    <div class="filters">
      <!-- Filter Button 1 -->
      <button class="filter-button">Type</button>
      <select id="filter1" class="filter-dropdown">
        <option value="type1">Blended</option>
        <option value="type2">Online</option>
        <option value="type3">Offline</option>
      </select>

      <!-- Filter Button 2 -->
      <button class="filter-button">Topic</button>
      <select id="filter2" class="filter-dropdown">
        <option value="option1">Computer Science</option>
        <option value="option2">Language</option>
        <option value="option3">Art</option>
        <option value="option4">Cooking</option>
        <option value="option5">Fitness</option>
        <option value="option6">Music</option>
      </select>
    </div>
  </div>
</div>

<h2><%= @communities.count %> communities are available:</h2>

<div class="cards-container">
  <% @communities.each do |community| %>
    <div class="card">
      <%# here should add the community topic icon %>
      <%= community.name %>
      <%= community.description %>
      <%= community.user %>
    </div>
  <% end %>
</div>
